:root {
    --desaturated-blue: #1d1e35;
    --soft-red: #f47c57;
    --soft-violet: #af67e9;
    --soft-blue: #6565e7;
    --gradient-base-color: #6565e7;
    --bg-gradient: linear-gradient(0deg, rgba(101,101,231,1) 13%, rgba(175,103,233,1) 58%);
    --very-grayish-blue: #4a4b5e;
    --grayish-blue: #787887;
    --light-grayish-blue: hsl(240, 5%, 91%);

    --font-kumbh: 'Kumbh Sans', sans-serif;
    --font-size: 0.75rem;
    --transition-all-ease: all 0.3s ease;
}

body {
    margin: unset;
    background: var(--gradient-base-color);
    background: var(--bg-gradient);
    font-family: var(--font-kumbh);
    font-size: var(--font-size);
}

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

        main img.floating-box {
            max-width: 100%;
            position: absolute;
            top: 60%;
            transform: translateY(-50%);
            left: max(-9.25vw, -125px);
            z-index: 999;
        }

        main .main-container { 
            position: relative;
        }

            .container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: #FFF;
                overflow: hidden;
                padding: 2vw 5vw;
                max-width: 100%;
                width: 900px;
                border-radius: 15px;
            }
            
                .container .col {
                    width: 50%;
                }

                .container .col.image-wrapper {
                    position: relative;
                    display: block;
                }

                    .container .col.image-wrapper .image-container {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -9rem;
                        height: auto;
                        width: 100%;
                    }
                
.accordion {
    margin-bottom: 1.3rem;
}

    .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }

        .accordion-header:hover {
            cursor: pointer;
        }

    .accordion-header span {
        color: var(--very-grayish-blue);
        font-family: var(--font-kumbh);
        transition: all 0.3s ease;
    }

    .accordion.enabled .accordion-header span {
        font-weight: 700;
    }

        .accordion-header:hover span{
            color: var(--soft-red);
        }

        .accordion-header button.accordion-button {
            background: none;
            border: unset;
            transition: all 0.8s ease;
            height: 15px;
        }

        .accordion.enabled .accordion-header button.accordion-button{
            transform: rotateX(-180deg);
        }

    .accordion-content {
        margin-top: 0.45rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid var(--grayish-blue);
        transition: max-height 0.15s ease-out;
    }

    .accordion-content.active{
        visibility: visible;
        height: 100%;
    }